<header>
    <h1 class="headerName" onclick=<%= `document.location.href="tasks"` %> >Менеджер задач</h1>
    <div class="headerButtonsList">
      <button type="button" onclick=<%= `document.location.href="add"` %> >Добавить</button>
      <button type="button" onclick=<%= `document.location.href="delete"` %> >Удалить</button>
      <button type="button" onclick=<%= `document.location.href="edit"` %> >Редактировать</button>
    </div>
</header>