<header>
    <h1 class="headerName">Менеджер задач</h1>
    <div class="headerButtonsList">
      <button type="button">Добавить</button>
      <button type="button">Удалить</button>
      <button type="button">Редактировать</button>
    </div>
</header>