<header>
    <h1 class="headerName">Менеджер задач</h1>
    <div class="headerButtonsList">
      <button type="submit">Добавить</button>
      <button type="submit">Удалить</button>
      <button type="submit">Редактировать</button>
    </div>
</header>